@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 96%;
    --card: 222 47% 16%;
    --card-foreground: 210 40% 96%;
    --popover: 222 47% 16%;
    --popover-foreground: 210 40% 96%;
    --primary: 210 40% 96%;
    --primary-foreground: 222 47% 11%;
    --secondary: 215 28% 24%;
    --secondary-foreground: 210 40% 96%;
    --muted: 215 28% 24%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 24%;
    --accent-foreground: 210 40% 96%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 96%;
    --border: 215 28% 24%;
    --input: 215 28% 24%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
    --brand-blue-hsl: 207 65% 53%; /* #3182CE */
  }
}
